/* screen - resume */

.resume {
  background-color: var(--white);
  height: 2448px;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.resume .aathira-haridas-M7IeEF {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-open_sans);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 91px;
  letter-spacing: 0.15px;
  line-height: 33px;
  position: absolute;
  text-align: left;
  top: 229px;
  width: 443px;
}
.resume .aathiraharidasuiat-M7IeEF {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 150px;
  letter-spacing: -0.86px;
  line-height: 0.1px;
  position: absolute;
  text-align: left;
  top: 618px;
  width: 394px;
}
.resume .applied-skills-in-de-M7IeEF {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 632px;
  letter-spacing: 0.15px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 606px;
  width: auto;
}
.resume .architect-october-2-M7IeEF {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 630px;
  letter-spacing: 0.15px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 1842px;
  width: 718px;
}
.resume .bachelors-in-archite-M7IeEF {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 632px;
  letter-spacing: 0.15px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 1647px;
  width: 720px;
}
.resume .combined-shape-M7IeEF {
  background-color: transparent;
  height: 40px;
  left: 90px;
  position: absolute;
  top: 436px;
  width: 40px;
}
.resume .combined-shape-j5Q5JC {
  background-color: transparent;
  height: 27px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 27px;
}
.resume .concept-development-M7IeEF {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 630px;
  letter-spacing: 0.15px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 678px;
  white-space: nowrap;
  width: 720px;
}
.resume .create-new-interacti-M7IeEF {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 630px;
  letter-spacing: 0.15px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 736px;
  width: 718px;
}
.resume .daydream-M7IeEF {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 1017px;
  letter-spacing: 0.15px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 771px;
  white-space: nowrap;
  width: 124px;
}
.resume .dekor-M7IeEF {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 1028px;
  letter-spacing: 0.15px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 906px;
  white-space: nowrap;
  width: 75px;
}
.resume .design-presentation-M7IeEF {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 631px;
  letter-spacing: 0.15px;
  line-height: 19px;
  position: absolute;
  text-align: left;
  top: 1163px;
  width: 498px;
}
.resume .easy-cook-M7IeEF {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 633px;
  letter-spacing: 0.15px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1082px;
  white-space: nowrap;
  width: 114px;
}
.resume .education-M7IeEF {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 632px;
  letter-spacing: 0.15px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1402px;
  width: auto;
}
.resume .email-me-wy1Xxz {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 83px;
  letter-spacing: 2.00px;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 51px;
  white-space: nowrap;
  width: 206px;
}
.resume .expert-in-concept-de-M7IeEF {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 631px;
  letter-spacing: 0.15px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 836px;
  width: 718px;
}
.resume .german-b2-level-en-M7IeEF {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 90px;
  letter-spacing: 0.15px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 1727px;
  width: 218px;
}
.resume .germany-M7IeEF {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 150px;
  letter-spacing: -0.86px;
  line-height: 0.1px;
  position: absolute;
  text-align: left;
  top: 470px;
  width: 321px;
}
.resume .group-3-M7IeEF {
  background-color: transparent;
  cursor: pointer;
  height: 144px;
  left: 542px;
  position: absolute;
  top: 2257px;
  width: 374px;
}
.resume .hobbies-M7IeEF {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 90px;
  letter-spacing: 0.15px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1864px;
  width: auto;
}
.resume .home-M7IeEF {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 1245px;
  letter-spacing: 2.00px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 71px;
  white-space: nowrap;
  width: 135px;
}
.resume .junior-architect-fe-M7IeEF {
  background-color: transparent;
  font-weight: 700;
  height: auto;
  left: 632px;
  letter-spacing: 0.15px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 1938px;
  width: 720px;
}
.resume .l-anguages-M7IeEF {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 90px;
  letter-spacing: 0.15px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1671px;
  width: auto;
}
.resume .line-10-wy1Xxz {
  background-color: transparent;
  height: 138px;
  left: 33px;
  position: absolute;
  top: -2px;
  width: 4px;
}
.resume .line-38-M7IeEF {
  background-color: transparent;
  height: 1860px;
  left: 564px;
  position: absolute;
  top: 222px;
  width: 10px;
}
.resume .line-7-wy1Xxz {
  background-color: transparent;
  height: 4px;
  left: 19px;
  position: absolute;
  top: 22px;
  width: 356px;
}
.resume .line-8-wy1Xxz {
  background-color: transparent;
  height: 138px;
  left: 334px;
  position: absolute;
  top: 7px;
  width: 4px;
}
.resume .line-9-wy1Xxz {
  background-color: transparent;
  height: 4px;
  left: -2px;
  position: absolute;
  top: 113px;
  width: 354px;
}
.resume .linkedin-M7IeEF {
  background-color: transparent;
  height: 38px;
  left: 94px;
  position: absolute;
  top: 669px;
  width: 38px;
}
.resume .logo-M7IeEF {
  background-color: transparent;
  cursor: pointer;
  height: 83px;
  left: 70px;
  position: absolute;
  top: 49px;
  width: 99px;
}
.resume .my-behance-portfolio-M7IeEF {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 150px;
  letter-spacing: 0.10px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 751px;
  width: 300px;
}
.resume .my-linkedin-profile-M7IeEF {
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
  height: auto;
  left: 150px;
  letter-spacing: 0.10px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 667px;
  width: 307px;
}
.resume .path-10-copy-xanE25 {
  background-color: transparent;
  height: 74px;
  left: 23px;
  position: absolute;
  top: -6px;
  width: 80px;
}
.resume .path-10-xanE25 {
  background-color: transparent;
  height: 94px;
  left: -8px;
  position: absolute;
  top: -8px;
  width: 102px;
}
.resume .post-graduate-diplom-M7IeEF {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 632px;
  letter-spacing: 0.15px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 1553px;
  width: 572px;
}
.resume .proficient-in-creati-M7IeEF {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 631px;
  letter-spacing: 0.15px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 1217px;
  width: 718px;
}
.resume .provide-intuitive-us-M7IeEF {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 634px;
  letter-spacing: 0.15px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 973px;
  width: 718px;
}
.resume .rectangle-M7IeEF {
  background-color: transparent;
  border-radius: 3.96px;
  height: 38px;
  left: 94px;
  object-fit: cover;
  position: absolute;
  top: 754px;
  width: 38px;
}
.resume .rectangle-j5Q5JC {
  background-color: #2867b2;
  border-radius: 3.96px;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 38px;
}
.resume .rectangle-wy1Xxz {
  background-color: var(--purple);
  height: 91px;
  left: 36px;
  position: absolute;
  top: 24px;
  width: 301px;
}
.resume .shape-M7IeEF {
  background-color: transparent;
  height: 56px;
  left: 93px;
  position: absolute;
  top: 507px;
  width: 37px;
}
.resume .shape-RNEEKe {
  background-color: transparent;
  height: 25px;
  left: 94px;
  position: absolute;
  top: 602px;
  width: 39px;
}
.resume .sketch-adobe-photosh-M7IeEF {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 90px;
  letter-spacing: 0.15px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 1357px;
  width: 202px;
}
.resume .sketching-cooking-an-M7IeEF {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 90px;
  letter-spacing: 0.15px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 1920px;
  width: 277px;
}
.resume .skills-M7IeEF {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 90px;
  letter-spacing: 0.15px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 845px;
  width: auto;
}
.resume .span1-1NsxXT {
  letter-spacing: 0.00px;
}
.resume .span1-Ajwbim {
  letter-spacing: 0.00px;
}
.resume .span1-GCAlZY {
  letter-spacing: 0.00px;
}
.resume .span1-GKRkxl {
  letter-spacing: 0.00px;
}
.resume .span1-MUagHz {
  letter-spacing: 0.00px;
  line-height: 35px;
}
.resume .span1-N5sjF6 {
  letter-spacing: 0.00px;
}
.resume .span1-XVPsjV {
  letter-spacing: 0.00px;
}
.resume .span1-aWEXdL {
  letter-spacing: 0.00px;
}
.resume .span1-j3IVZs {
  letter-spacing: 0.00px;
}
.resume .span1-yUWdN9 {
  letter-spacing: 0.00px;
}
.resume .span1-zrqYVX {
  letter-spacing: 0.00px;
}
.resume .span1-zwxeOQ {
  letter-spacing: 0.00px;
}
.resume .span2-1NsxXT {
  letter-spacing: 0.00px;
}
.resume .span2-Ajwbim {
  letter-spacing: 0.00px;
  text-decoration: underline;
}
.resume .span2-GCAlZY {
  letter-spacing: 0.00px;
}
.resume .span2-GKRkxl {
  letter-spacing: 0.00px;
}
.resume .span2-MUagHz {
  letter-spacing: 0.00px;
  line-height: 35px;
}
.resume .span2-N5sjF6 {
  letter-spacing: 0.00px;
}
.resume .span2-XVPsjV {
  letter-spacing: 0.00px;
}
.resume .span2-aWEXdL {
  letter-spacing: 0.00px;
  text-decoration: underline;
}
.resume .span2-j3IVZs {
  letter-spacing: 0.00px;
}
.resume .span2-yUWdN9 {
  letter-spacing: 0.00px;
}
.resume .span2-zrqYVX {
  letter-spacing: 0.00px;
  text-decoration: underline;
}
.resume .span2-zwxeOQ {
  letter-spacing: 0.00px;
}
.resume .span3-1NsxXT {
  letter-spacing: 0.00px;
}
.resume .span3-Ajwbim {
  letter-spacing: 0.00px;
}
.resume .span3-GCAlZY {
  letter-spacing: 0.00px;
}
.resume .span3-MUagHz {
  letter-spacing: 0.00px;
  line-height: 35px;
}
.resume .span3-XVPsjV {
  letter-spacing: 0.00px;
}
.resume .span3-aWEXdL {
  letter-spacing: 0.00px;
}
.resume .span3-zrqYVX {
  letter-spacing: 0.00px;
}
.resume .span3-zwxeOQ {
  letter-spacing: 0.00px;
}
.resume .span4-1NsxXT {
  letter-spacing: 0.00px;
}
.resume .span4-GCAlZY {
  letter-spacing: 0.00px;
}
.resume .span4-MUagHz {
  letter-spacing: 0.00px;
  line-height: 35px;
}
.resume .span4-XVPsjV {
  letter-spacing: 0.00px;
}
.resume .span4-zwxeOQ {
  letter-spacing: 0.00px;
}
.resume .span5-GCAlZY {
  letter-spacing: 0.00px;
}
.resume .span5-MUagHz {
  color: var(--black);
  font-family: var(--font-family-open_sans);
  font-size: var(--font-size-xxs);
  font-style: normal;
  letter-spacing: 0.00px;
  line-height: 35px;
}
.resume .span5-XVPsjV {
  letter-spacing: 0.00px;
}
.resume .span5-zwxeOQ {
  letter-spacing: 0.00px;
}
.resume .span6-XVPsjV {
  letter-spacing: 0.00px;
}
.resume .summary-M7IeEF {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 630px;
  letter-spacing: 0.15px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 329px;
  width: auto;
}
.resume .tools-M7IeEF {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 89px;
  letter-spacing: 0.15px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1297px;
  width: 113px;
}
.resume .ui-designer-ux-empha-M7IeEF {
  background-color: transparent;
  color: var(--purple);
  font-family: var(--font-family-open_sans);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 89px;
  letter-spacing: 0.15px;
  line-height: 46px;
  position: absolute;
  text-align: left;
  top: 303px;
  width: 460px;
}
.resume .ui-designer-with-a-b-M7IeEF {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 632px;
  letter-spacing: 0.15px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 395px;
  width: 740px;
}
.resume .user-centered-design-M7IeEF {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 90px;
  letter-spacing: 0.15px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 901px;
  width: 267px;
}
.resume .user-interface-desig-M7IeEF {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 632px;
  letter-spacing: 0.15px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 1458px;
  width: 610px;
}
.resume .work-experience-M7IeEF {
  background-color: transparent;
  font-weight: 600;
  height: auto;
  left: 632px;
  letter-spacing: 0.15px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1786px;
  width: auto;
}
.resume .would-you-like-to-re-M7IeEF {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 283px;
  letter-spacing: 0.15px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 2175px;
  width: 875px;
}
.resume .x49-178-635-7167-M7IeEF {
  background-color: transparent;
  font-weight: 400;
  height: auto;
  left: 150px;
  letter-spacing: -0.86px;
  line-height: 0.1px;
  position: absolute;
  text-align: left;
  top: 544px;
  width: 274px;
}
